PORT=8790
CORS_ORIGIN=http://127.0.0.1:5173
AGENTHUB_BASE_URL=http://agenthub:8787
APP_METADATA_STORE=local
# APP_METADATA_STORE=postgres
# DATABASE_URL=postgres://agenthub:agenthub_change_me@host.docker.internal:5432/agenthub_business
DOCKER_NODE_IMAGE=node:20-alpine
BUILD_TIMEOUT_MS=300000
BUILD_CPU_LIMIT=1
BUILD_MEMORY_LIMIT=2g
